body{
  text-align: center;
  background: ligthsteelblue;
}

.grid{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 20px;
  background: rgb(3, 22, 9);
}

.grid div{
  width: 20px;
  height: 20px;
}

.content{
  float: left;
  width: 20%;
  padding: 50px;
}

.snake{
  background-color: blue;
  border-radius: 10px;
}
